.header{
    color: red;
    border: solid black 1px;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button{
    height: 50px;
    width: 100px;
}

.logo{
    border: solid black 1px;
    height: 50px;
    width: 100px;
    margin-left: 20px;
}

.login{
    border: solid black 1px;
    height: 50px;
    width: 100px;
    margin-right: 20px;
}